.App {
  text-align: center;
}

.Text-primary-color {
  color: #000936
}

.Text-secondary-color {
  color: #001994
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
